.h2-p {
    display: flex;
}

.votes {
    width: 100%;
    text-align: center;
}

.createdComponent {
    float: right; 
    padding-right: 2%;
}

.mb-3 {
    padding: 10px;
}

.edit-ques-container {
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
}