.p-2 {
    display: flex;
   
}

.views {
    flex-direction: row-reverse;
}

.votes {
    width: 100%;
    text-align: center;
}


.info-div {
    float: right; 
    padding-right: 2%;
}

.tag {
    margin-left: 1px;
}


.mb-3 {
    padding: 10px;
}

.votes-first-div {
    display: flex;
}

.question-container {
   padding-top: 1%;
   padding-left: 5%;
   padding-right: 5%;
}

.ques-ans-body {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}


