.firstDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
  }
  
  .navStyle {
    margin-top: 1%;
    margin-left: 42.5%;
  }
  
  .VAVDivStyle {
    height: 120px;
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
  }
  
  .info-div {
    float: right;
    padding-right: 2%
  }
  
  .tagDiv {
    margin-left: -10px;
  }
  
  .tagButton {
    margin-left: 1px;
  }
