.first-div {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}
  
.nav-style {
  margin-top: 1%;
  margin-left: 42.5%;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tags-div {
  align-self: flex-start; 
  display: inline-block;
}

.VAVDivStyle {
  height: 120px;
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
}
  
/* .tagDiv {
  margin-left: -10px;
}  */
  

