.first-div {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
}
  
.nav-style {
  margin-top: 1%;
  margin-left: 42.5%;
}

.votes-ans-views-div {
  height: 120px;
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
}

.info-div {
  float: right; 
  padding-right: 2%;
}


.tag-div {
  align-self: flex-start; 
  display: inline-block;
}

.tag-btn {
  margin-left: 1px;
} 

.container {
  max-width: 100%;
}
  

